<span>
  Hello <span style="font-weight: bold">{{username}}</span>,
</span>
<p>
  Your Information:
</p>

<p>
  Email: {{ email }}
</p>
<p>
  Wallet Address: {{ wallet_address }}
</p>
<p>
  Password: {{ password }}
</p>
<p>
  If you did not create an account, no further action is required.
</p>
<p>
  Regards,
</p>
<p>
  RedKite system
</p>
