<span>
  Hello <span style="font-weight: bold">{{username}}</span>,
</span>
<p>
  You can start staking now. Please use this same email when doing KYC.
</p>
<p>
  If you did not create an account, no further action is required.
</p>
<p>
  Regards,
</p>
<p>
  RedKite system
</p>
